#poemCreatorContainer section + section {
  margin-top: 20px;
}

#poemCreatorInputField {
  font-size: 32px;
  padding: 5px;
  width: 100%;
}

#lookupTerm {
  font-size: 2em;
}

.vocabList {
  display: grid;
  font-size: 1.5em;
  grid-template-columns: repeat(2, auto);
}

.character {
  cursor: pointer;
}

#poemPronunciation {
  font-size: 2em;
}

#poemContainer {
  background-image: var(--background-image);
  background-size: cover;
  height: var(--container-height);
  width: var(--container-width);
}

#poemField {
  color: var(--text-color);
  font-size: var(--font-size);
  text-shadow: 0 2px 4px var(--text-shadow-color);
}
